doctype html
html.h-100(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    title= Title
    link(href=assetPath('main.css') rel='stylesheet')
    //- script.
    //-   var gon = !{JSON.stringify(gon)};
  body.h-100.bg-light
    .h-100
      .h-100#chat
    script(src=assetPath('main.js'))
